{% extends "layout.html" %}
{% block content %}
<style>
    .css-serial{
        counter-reset: serial-number;
    }
    .css-serial td:first-child:before{
        counter-increment: serial-number;
        content: counter(serial-number);
    }
    .aligncenter{
        text-align: center;
    }

    th {
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col lg-12">
            <div class="jumbotron p-3">
                <h2> Manage <b>Technicians</b>
                    <button type="button" class="btn btn-success float-right "
                        onclick=location.href='{{url_for("addTechnician")}}'>Add New Technician
                    </button>
                </h2>

                <table class="table table-hover table-striped mydatatable">
                    <thead class="thead-dark">
                        <tr> 
                            <th>ID</th>
                            <th>Name</th>
                            <th>SSN</th>
                            <th>DoB</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in technicians %}
                            <tr>
                                <td>{{ row.id }}</td>
                                <td>{{ row.name }}</td>
                                <td>{{ row.ssn }}</td>
                                <td>{{ row.dob.strftime('%Y-%m-%d') }}</td>
                                <td>{{ row.email }}</td>
                                <td>{{ row.gender }}</td>
                                <td class="aligncenter">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Actions
                                        </button>
                                        <div class="dropdown-menu">
                                          <a class="dropdown-item" href="{{url_for('tech_scans', id =row.id )}}">Scans</a>
                                          <a class="dropdown-item" href="{{url_for('tech_update', id = row.id)}}">Edit</a>
                                          <a class="dropdown-item" href="{{url_for('tech_disable', id = row.id)}}">Delete</a>
                                        </div>
                                      </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col lg-12">
            <div class="jumbotron p-3">
                <h2> Manage <b>Scans</b></h2>

                <table class="table table-hover table-striped css-serial mydatatable">
                    <thead class="thead-dark">
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>SSN</th>
                            <th>Gender</th>
                            <th>DoB</th>
                            <th>Record Number</th>
                            <th>Form Number</th>
                            <th>Date Taken</th>
                            <th>Organ</th>
                            <th>Thickness</th>
                            <th>Conclusion</th>
                            <th>Contrast Injection</th>
                            <th>Technician</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in scans %}
                            <tr>
                                <td></td>
                                <td>{{row.patient_name}}</td>
                                <td>{{row.patient_ssn}}</td>
                                <td>{{row.patient_gender}}</td>
                                <td>{{row.patient_dob.strftime('%Y-%m-%d') }}</td>
                                <td>{{row.record_id}}</td>
                                <td>{{row.form_id}}</td>
                                <td>{{row.date_taken.strftime('%Y-%m-%d')}}</td>
                                <td>{{row.organ}}</td>
                                <td style="text-align: center">{{row.thickness}}</td>
                                <td>{{row.conclusion}}</td>
                                {% if row.contrast_injection == true %}
                                    <td style="text-align: center">T</td>
                                {% else %}
                                    <td style="text-align: center">F</td>
                                {% endif %}
                                <td>{{row.name}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
    <script>
        $('.mydatatable').DataTable({
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]]
        });
    </script>
{% endblock scripts %}