{% extends "layout.html" %}
{% block content %}
<style>
    .css-serial{
        counter-reset: serial-number;
    }
    .css-serial td:first-child:before{
        counter-increment: serial-number;
        content: counter(serial-number);
    }
    .aligncenter{
        text-align: center;
    }

    th {
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>
<div class="container-fluid" style= "border-collapse: collapse;" id = "responsive">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3"> 
                <h2> Manage <b> Scans</b>
                    <button type="button" class="btn btn-success float-right "
                        onclick=location.href='{{url_for("add_scan")}}'>Add New Scan
                    </button>
                </h2>
                <table class="table table-hover table-striped css-serial">
                    <thead class="thead-dark">
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>SSN</th>
                            <th>Gender</th>
                            <th>DoB</th>
                            <th>Record Number</th>
                            <th>Form Number</th>
                            <th>Date Taken</th>
                            <th>Organ</th>
                            <th>Thickness</th>
                            <th>Conclusion</th>
                            <th>Contrast Injection</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in scans %}
                            <tr>
                                <td></td>
                                <td>{{row.patient_name}}</td>
                                <td>{{row.patient_ssn}}</td>
                                <td>{{row.patient_gender}}</td>
                                <td>{{row.patient_dob.strftime('%Y-%m-%d') }}</td>
                                <td>{{row.record_id}}</td>
                                <td>{{row.form_id}}</td>
                                <td>{{row.date_taken.strftime('%Y-%m-%d')}}</td>
                                <td>{{row.organ}}</td>
                                <td>{{row.thickness}}</td>
                                <td>{{row.conclusion}}</td>
                                <td>{{row.contrast_injection}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Actions
                                        </button>
                                        <div class="dropdown-menu">
                                          <a class="dropdown-item" href="{{url_for('scan_update', scan_id = row.id)}}">Edit</a>
                                          <a class="dropdown-item" href="{{url_for('scan_delete', scan_id = row.id)}}">Delete</a>
                                        </div>
                                      </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        $('.mydatatable').DataTable({
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]]
        });
    </script>
{% endblock scripts %}